[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Cache
[Dd]erivedDataCache/

.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

*.unitypackage
*.apk
*.aab
*.app
*.exe
*.dll
*.so
*.dylib

sysinfo.txt
crashlytics-build.properties

.DS_Store
Thumbs.db
desktop.ini

*.log

[Aa]ssets/[Aa]ddressableAssetsData/*/*.bin*

.idea/

il2cpp_cache/
